<div style="text-align: center; padding-top: 100px">
<h3>Your picture is being processed. We will send the picture to your email.</h3>
<h1><i class="fa fa-photo"></i></h1>
<br/>
<br/>
<a class="btn btn-primary btn-sm" href="/">
   <i class="fa fa-camera-retro"></i> Process another picture
</a>
</div>