<div class="top" style="text-align: center">
    <h1>
        <i class="fa fa-facebook-official"></i>
        <i class="fa fa-book"></i>
        Interactive Yearbook Creator 
    </h1>
</div>


<%= form_for @job, url: {action: "create", controller: 'jobs'}, html: {class: "upload_form"} do |f| %>
    <div id="school-name">
        School Name: <%= f.text_field :school, class: 'text_field' %>
    </div>
    <div id="class-year">
        Class Year : <%= f.text_field :class_year, class: 'text_field' %>
    </div>
    <input id="uploadFile" placeholder="Choose File" disabled="disabled" />
    <div class="fileUpload btn btn-primary">
        <span>Upload file <span class="fa fa-upload"></span></span>
        <input id="uploadBtn" type="file" class="upload" onchange="onChange(this.files[0])"/>
    </div>
    <div>
    </div>
    <div class="col-xs-2 col-xs-offset-5">
        <%= f.submit "Make it Interactive", class:"btn btn-block btn-primary" %>
    </div>
<% end %>


